<mvc:View xmlns:core="sap.ui.core" 
	xmlns:mvc="sap.ui.core.mvc" 
	xmlns="sap.m" 
	xmlns:l="sap.ui.layout" 
	xmlns:f="sap.ui.layout.form"
	controllerName="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.pages.{{basicSAPUI5ApplicationProject.parameters.name1.value}}" 
	xmlns:html="http://www.w3.org/1999/xhtml">
	<Page title="{i18n>titlePage1}">
		<content>
			<Button iconFirst="false" type="Emphasized" icon="sap-icon://navigation-right-arrow" text="{i18n>toSecondPage}" press="toSecondPage"></Button>
		</content>
	</Page>
</mvc:View>