sap.ui.define([
		"{{formatNamespace basicSAPUI5ApplicationProject.parameters.namespace.value}}/controller/BaseController"
	], function (BaseController) {
		"use strict";

		return BaseController.extend("{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.pages.{{basicSAPUI5ApplicationProject.parameters.name2      .value}}", {
			onInit: function() {
				var route = this.getRouter().getRoute("RouteView2");
				route.attachPatternMatched(this.onRouteMatchedRequest, this);
			},
			onRouteMatchedRequest: function(oEvent) {
			}
		});

	}
);