sap.ui.define([
		"{{formatNamespace basicSAPUI5ApplicationProject.parameters.namespace.value}}/controller/BaseController",
		"sap/m/BusyDialog"
	], function (BaseController,BusyDialog) {
		"use strict";

		return BaseController.extend("{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.App", {

			onInit : function () {
			}
		});

	}
);